%tr
  %th.label
    %label{:for => "page_categories_list"}
      Tags
  %td.field
    = f.text_field :category_list, :class => 'textbox'
    - unless model.errors.on_base.nil?
      %span.error= model.errors.on_base